[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
streamlit = "*"
descartes = "*"
shapely = "*"
numpy = "*"
requests = "*"
sphinx = "*"
folium = "*"
seaborn = "*"
matplotlib = "*"
plotly = "*"
ipython = "*"
notebook = "*"
jupyter = "*"
pyepsg = "*"
flake8 = "*"
selenium = "*"
scipy = "*"
rtree = "*"
fiona = "*"
pysal = "*"
pylint = "*"
coverage = "*"
pretenders = "*"
sure = "*"
behave = "*"
soupy = "*"
sklearn = "*"
algorithms = "*"
sphinxcontrib-napoleon = "*"
pytest-bdd = "*"
csv-to-sqlite = "*"
sqlalchemy = "*"
tabula-py = "*"
lxml = "*"
html5lib = "*"
bs4 = "*"
geopy = "*"
networkx = "*"
osmnx = "*"
convertbng = "*"
missingno = "*"
tqdm = "*"
ratelimit = "*"
global-land-mask = "*"
pyperclip = "*"
alphashape = "*"
nltk = "*"
spacy = "*"
dask = "*"
deprecated = "*"
bandit = "*"
pep8-naming = "*"
setuptools = "*"
cython = "*"
geopandas = "*"
camelcase = "*"
pyproj = "*"
branca = "*"
click = "*"
pandas = "*"
pytest = "*"
hypothesis = "*"
nose2 = "*"
robotframework = "*"
green = "*"
mamba = "*"
tox = "*"
doublex = "*"
mock = "*"

[requires]
python_version = "3.7"
