[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
descartes = "*"
shapely = "*"
numpy = "*"
requests = "*"
sphinx = "*"
folium = "*"
seaborn = "*"
matplotlib = "*"
plotly = "*"
ipython = "*"
notebook = "*"
jupyter = "*"
pyepsg = "*"
flake8 = "*"
selenium = "*"
scipy = "*"
rtree = "*"
fiona = "*"
pysal = "*"
pylint = "*"
coverage = "*"
pretenders = "*"
sure = "*"
behave = "*"
soupy = "*"
sklearn = "*"
algorithms = "*"
sphinxcontrib-napoleon = "*"
pytest-bdd = "*"
csv-to-sqlite = "*"
sqlalchemy = "*"
tabula-py = "*"
lxml = "*"
html5lib = "*"
bs4 = "*"
geopy = "*"
convertbng = "*"
missingno = "*"
tqdm = "*"
ratelimit = "*"
global-land-mask = "*"
pyperclip = "*"
alphashape = "*"
nltk = "*"
spacy = "*"
dask = "*"
deprecated = "*"
bandit = "*"
pep8-naming = "*"
setuptools = "*"
cython = "*"
geopandas = "*"
camelcase = "*"
pyproj = "*"
branca = "*"
click = "*"
pandas = "*"
hypothesis = "*"
nose2 = "*"
robotframework = "*"
green = "*"
mamba = "*"
tox = "*"
doublex = "*"
mock = "*"
tox-pipenv = "*"
pip-check-reqs = "==2.0"
geojson = "*"
pip = "*"
codecov = "*"
pytest-mock = "*"
attrs = "19.1.0"
pytest = "5.2.0"
pytest-cov = "*"
engarde = "*"
pattern = "*"
mypy = "*"
jellyfish = "*"
gensim = "*"
faker = "*"
parserator = "*"
fuzzywuzzy = "*"
fuzzyjoin = "*"
scrubadub = "*"
pint = "*"
arrow = "*"
dora = "*"
badfish = "*"
pydantic = "*"
logbook = "*"
keplergl = "*"

[requires]
python_version = "3.7"

[dev-packages]
naptantools = {editable = true, path = "."}
black = "*"

[pipenv]
allow_prereleases = true
